/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

header img:first-child {
    width: 70%;
    padding-left: 15%;
}

header img:last-child {
    width: 14%;
    border-radius: 50%; /* Para deixar o avatar circular */
}

/* Container principal */
#container {
    display: flex;           /* Coloca os boxes lado a lado */
    justify-content: space-around; /* Espaça os elementos igualmente */
    padding: 20px;
    margin-top: 20px;
}

/* Estilo das boxes */
#box1 {
    background-color: #fff;
    border: 2px solid #d1cece;
    border-radius: 10px;
    width: 45%;              /* Define a largura das boxes */
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
#box2 {
        background-color: #fff;
        border: 2px solid #d1cece;
        border-radius: 10px;
        width: 45%;              /* Define a largura das boxes */
        padding: 20px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
/* Estilo das listas */
ul {
    list-style-type: none;   /* Remove os marcadores das listas */
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul li a:hover {
    color: #007BFF;          /* Cor ao passar o mouse */
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

footer h5 {
    margin: 0;
}

footer span {
    font-size: 70%;
    color: brown;
}

a:hover{
    color: aqua;
}
#data {
    font-size: 1.9rem;
    font-weight: bold;
    color: #332b20;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

